@import '../../media.scss';

.header {
  background-color: #1C1A19;
  height: 102px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    justify-content: center;

  }
}

.header__right-col {
  margin-left: 20px;

  @include tablet {
    margin-left: 10px;
  }

  @include mobile {
    display: none;
  }
}

.logo {
  width: 15.813rem;
  height: 3.8rem;
}

.header__left-col {
  margin-right: 50px;
  margin-left: 20px;
  
  @include tablet {
    margin-right: 20px;
  }

  @include mobile {
    margin-right: 10px;
  }

}

.header__btn {
  color: #fff;
  background-color: #1C1A19;
  border: 0;
  border-radius: 5px;
  font-size: 21px;
  margin-right: 5px;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 300;

  @include tablet {
    font-size: 1rem;

  }

  @include mobile {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:active {
    background-color: rgba($color: #FDBF5A, $alpha: .3);
    transition: background-color .5s;
  }

  &:hover {
    color: #FDBF5A;
  }
}

.header__btn--active {
  color: #FDBF5A;
}
